
.topbar {
  background: white;
  height: 80px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 35px;
  border-bottom: 1px solid #e6eaf0;
}

.topbar-left {
  display: flex;
  align-items: center;
  gap: 18px;
  color:#0849a6;
}

.back-btn {
  width: 42px;
  height: 42px;
  border: none;
  border-radius: 10px;
  background: white;
  cursor: pointer;
  transition: .3s;
  font-size: 17px;
}

.back-btn i {
  color:#0849a6;
}


.back-btn:hover {
  background: #eef5ff;
  color: #0b5ed7;
}

.back-btn:hover i {
  color: #0a58ca;
}

.topbar-left h3 {
  font-size: 22px;
  font-weight: 600;
}

.topbar-center {
  flex: 1;
  display: flex;
  justify-content: center;
}

.search-box {
  width: 420px;
  height: 45px;
  background: #f6f8fb;
  border: 1px solid #e3e7ef;
  border-radius: 10px;
  display: flex;
  align-items: center;
  padding: 0 15px;
  gap: 12px;
}

.search-box input {
  flex: 1;
  border: none;
  background: transparent;
  outline: none;
  font-size: 15px;
}

.search-box i {
  color: #8d99ae;
}

.topbar-right {
  display: flex;
  align-items: center;
  gap: 30px;
}

.btn-primary {
  border: none;
  cursor: pointer;
  background: #0b5ed7;
  color: white;
  border-radius: 10px;
  padding: 12px 22px;
  font-size: 15px;
  font-weight: 600;
  transition: .3s;
  box-shadow: 0 8px 18px rgba(37, 99, 235, .25);
  display: inline-flex;
  align-items: center; 
  gap: 8px;
}

.btn-primary:hover {
  background: #0849a6;
  transform: translateY(-2px);
  box-shadow: 0 14px 25px rgba(37, 99, 235, .35);
}

.icon-btn {
  width: 42px;
  height: 42px;
  border: none;
  background: white;
  cursor: pointer;
  border-radius: 10px;
  transition: .3s;
  font-size: 18px;
}

.icon-btn:hover {
  background: #eef5ff;
  color: #0b5ed7;
}

.profile {
  display: flex;
  align-items: center;
  gap: 10px;
  cursor: pointer;
}

.profile img {
  width: 42px;
  height: 42px;
  border-radius: 50%;
  object-fit: cover;
}

.profile span {
  font-weight: 600;
  color: #444;
}